<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Game 7 - 10 - 2 - 2 - 2 - 2 - 2 - 2 - 5</key>
	<dict>
		<key>Match</key>
		<string>Premiership Rugby Final</string>
		<key>Start time</key>
		<string>3:00pm</string>
		<key>Attendance</key>
		<string>80000</string>
		<key>Date</key>
		<date>2016-05-28T14:00:00Z</date>
	</dict>
	<key>Game 7 - 10 - 2 - 2 - 2 - 2 - 2 - 2 - 5 - 2</key>
	<dict>
		<key>Match</key>
		<string>Old Mutual Wealth Cup</string>
		<key>Start time</key>
		<string>10:00am</string>
		<key>Attendance</key>
		<string>80000</string>
		<key>Date</key>
		<date>2016-05-29T14:00:00Z</date>
	</dict>
	<key>Game 7 - 10 - 2 - 2 - 2 - 2 - 2 - 2 - 5 - 2 - 2</key>
	<dict>
		<key>Match</key>
		<string>London Double Header</string>
		<key>Start time</key>
		<string>2:30pm</string>
		<key>Attendance</key>
		<string>65000</string>
		<key>Date</key>
		<date>2016-09-03T13:30:00Z</date>
	</dict>
	<key>Game 7 - 10 - 2 - 2 - 2 - 2 - 2 - 2 - 5 - 2 - 2 - 2</key>
	<dict>
		<key>Match</key>
		<string>The Rugby Championship</string>
		<key>Start time</key>
		<string>7:30pm</string>
		<key>Attendance</key>
		<string>65000</string>
		<key>Date</key>
		<date>2016-10-08T18:30:00Z</date>
	</dict>
	<key>Game 7 - 10 - 2 - 2 - 2 - 2 - 2 - 2 - 5 - 2 - 2 - 3</key>
	<dict>
		<key>Match</key>
		<string>OMWS - England v Fiji</string>
		<key>Start time</key>
		<string>2:30pm</string>
		<key>Attendance</key>
		<string>65000</string>
		<key>Date</key>
		<date>2016-11-19T16:30:00Z</date>
	</dict>
	<key>Game 7 - 10 - 2 - 2 - 2 - 2 - 2 - 2 - 5 - 2 - 2 - 4</key>
	<dict>
		<key>Match</key>
		<string>OMWS - England v South Africa</string>
		<key>Start time</key>
		<string>2:30pm</string>
		<key>Attendance</key>
		<string>65000</string>
		<key>Date</key>
		<date>2016-11-12T16:30:00Z</date>
	</dict>
	<key>Game 7 - 10 - 2 - 2 - 2 - 2 - 2 - 2 - 5 - 2 - 2 - 5</key>
	<dict>
		<key>Match</key>
		<string>OMWS - England v Argentina</string>
		<key>Start time</key>
		<string>2:30pm</string>
		<key>Attendance</key>
		<string>65000</string>
		<key>Date</key>
		<date>2016-11-26T16:30:00Z</date>
	</dict>
	<key>Game 7 - 10 - 2 - 2 - 2 - 2 - 2 - 2 - 5 - 2 - 2 - 6</key>
	<dict>
		<key>Match</key>
		<string>OMWS - England v Australia</string>
		<key>Start time</key>
		<string>2:30pm</string>
		<key>Attendance</key>
		<string>65000</string>
		<key>Date</key>
		<date>2016-12-03T16:30:00Z</date>
	</dict>
	<key>Game 7 - 10 - 2 - 2 - 2 - 2 - 2 - 2 - 5 - 2 - 2 - 7</key>
	<dict>
		<key>Match</key>
		<string>The Varsity Match</string>
		<key>Start time</key>
		<string>11:30pm</string>
		<key>Attendance</key>
		<string>30000</string>
		<key>Date</key>
		<date>2016-09-08T16:30:00Z</date>
	</dict>
</dict>
</plist>
